*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #232526, #414345) !important;/*#211f25 !important; */
    color: white !important;
}

pre{
    padding: 0 20px;
    color: white !important;
}
img{
    width: 50%;
    left: 14em;
    border-radius: 15px;
}
.title-head{
    color: #02f195;
    font-family: sans-serif;
    font-weight: 100;
    padding: 15px;
} 
.content{
    width: 80%;
    padding: 20px;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

.code{
    background: #232526;
    color: white;
    padding: 20px;
    font-size: 15px;
    height: 600px;
    width: 100%;
}

@media only screen and (min-width: 600px){
    nav{
        
    }
}